.home-container{
    margin-top: 5rem;
    }
    
    .short-link-out{
      margin:2rem;
    }
    form {
      padding: 1.5rem 1rem;
      background-color: #3b3054;
      background-position: top right;
      display: flex;
      flex-direction: column;
      border-radius: 7px;
      margin-bottom: 1rem;
      transform: translateY(-4rem);
      max-width: 40rem;
      margin: 0 auto;
    
    }
    .input-group{
      width: 100%;
      margin-bottom: 1rem;
    }
    .input-search{
      font-size: 1rem;
        width: 100%;
        padding: 1rem 0.5rem;
        border-radius: 7px;
        border: none;
        position: relative;
    }
    .input-search:focus-visible{
      outline: 0;
    }
    .btn-home {
      display: inline-block;
      font-weight: 400;
      line-height: 2;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
    }
    
    .btn-outline-light:hover {
      color: #000;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
    }
    @media screen and (min-width: 820px){
    form {
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        padding: 3rem;
    }
    .input-group{
      width: 80%;
        margin-bottom: 0;
    }
    .input-search{
      width: 90%;
        margin-bottom: 0;
        margin-right: auto;
    }
    .short-link{
      width:100%;
    }
    .btn-outline-light{
      margin:1rem;
    }
    }
    
    .homecard{
      background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(69, 86, 102, 1) 0%, rgba(34, 34, 34, 1) 90% );
    }
    .card1{
      background-color: #3b3054 !important;
    }
    p {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
    .short-link{
      display: block;
      width: 100%;
      padding: .6rem .8rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }