.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #25233a !important;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #eff1f7;
    z-index: 100;
    height: 60px;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: 700;
    cursor :pointer;
    color: #25233a 
  }
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 75%;
    font-size: 1rem;
  }
  .nav-li{
    margin: 0 1.2em;
    cursor: pointer;
  }
  .signup-btn {
    cursor: pointer;
    border:1px solid #2acfcf;
    border-radius:3rem;
    padding: 0.65em 2em;
    background-color: transparent;
  }
  .signup-btn:hover,.signup-btn:focus{
    background-color: #2acfcf;
    color: #fff !important;
  }
  .mobile-menu-icon {
    display: none;
  }
  .border-bottom{
    border-bottom:1px solid #fff ;
    margin: 0 !important;
  }
  
  @media (max-width: 780px) {
    .logo {
      display: flex;
      position: absolute;
      left: 15px;
    
    }
    .navbar-links-mobile {
      position: absolute;
      text-align: center;
      list-style: none;
      background-color: #3b3054;
      top: 60px;
      transition: all 0.5s ease-out;
      width: 100%;
      padding: 1em 0;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      
    }
    .nav-li {
      color: #fff;
      width: 100%;
      margin: 0.75em 0;
      transition: all 0.5s ease;
    }
      .signup-btn{
        width: 95%;
        margin: auto;
        color: #fff;
      }
    .mobile-menu-icon {
      display: block;
      border: none;
      position: absolute;
      outline: none;
      top: 18px;
      right: 25px;
      font-size: 1.5rem;
    }
    
    .navbar-links {
      display: none;
    }
  }
  